.dashboard {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.dashboard .wave {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--primary-color);
  background: -webkit-linear-gradient(
    top,
    var(--primary-color),
    var(--secondary-color)
  );
  background: -moz-linear-gradient(
    top,
    var(--primary-color),
    var(--secondary-color)
  );
  background: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--secondary-color)
  );
}

.dashboard_body {
  padding: 20px 10px;
}

.dashboard_strip {
  margin-bottom: 10px !important;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .dashboard_strip .icon_container {
    padding: 8px !important;
  }
}
